<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.allever.android.sample.kotlin">

    <application>
        <activity android:name=".KotlinMainActivity" />
        <activity android:name=".function.flow.FlowMainActivity" />
    </application>
</manifest>