<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.allever.android.sample.function">

    <application>
        <activity android:name=".FunctionMainActivity" />
        <activity android:name=".theme.ThemeMainActivity" />
        <activity android:name=".im.IMMainActivity" />
    </application>
</manifest>