<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.VIBRATE" />
    <application>
        <activity
            android:name="app.allever.android.sample.toolbox.dailytools.RulerActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
            android:hardwareAccelerated="true" />
        <activity android:name="app.allever.android.sample.toolbox.dailytools.CompassActivity" />
        <activity android:name="app.allever.android.sample.toolbox.dailytools.LevelActivity" />
        <activity android:name="app.allever.android.sample.toolbox.dailytools.DrawActivity" />
    </application>
</manifest>