<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name="app.allever.android.sample.jetpack.navigation.NavigationMainActivity"
            android:exported="false">
            <nav-graph android:value="@navigation/nav_graph" />
        </activity>
    </application>
</manifest>