<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.allever.android.learning.audiovideo">

    <application>
        <activity
            android:name=".AudioVideoMainActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".videoviewplayer.VideoViewPlayerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenStyle"/>
        <activity android:name=".SelectMediaActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".textureviewplayer.TextureViewPlayerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenStyle"/>
    </application>
</manifest>