<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.allever.android.lib.demo">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application>
        <activity android:name=".ui.sticktop.BaseTwoViewStickyTopActivity" />
        <activity android:name=".ui.sticktop.RemoveAddViewStickyTopActivity" />
        <activity android:name=".ui.sticktop.RecyclerViewHeaderStickyTopActivity" />
        <activity android:name=".ui.sticktop.CoordinatorStickyTopActivity" />
        <activity android:name=".ui.BlurActivity" />
        <activity android:name=".UserCenterActivity" />
        <activity
            android:name=".ui.dialog.activitydialog.BottomActivityDialog"
            android:theme="@style/BottomActivityDialog" />
        <activity android:name=".ui.notification.NotificationActivity" />
        <activity android:name=".ui.dragclose.PreviewPhotoActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>
    </application>
</manifest>